---
// import layouts
import LoggedLayout from "@/layouts/LoggedLayout.astro";
// import components
import Card from "@/components/Card.astro";
import PageSummary from "@/components/PageSummary.astro";
import MigrantsTable from "@/components/data/Migrants/MigrantsTable.svelte";
// import icons
import Adjustments from "@/components/icons/Adjustments.astro";
import EyeOutline from "@/components/icons/EyeOutline.astro";
import Pencil from "@/components/icons/Pencil.astro";
import SearchBar from "@/components/data/Migrants/SearchBar.svelte";
import Close from "@/components/icons/Close.astro";

const people = [
  {
    id: 587432,
    name: "Emma",
    lastname: "García",
    imgUrl: "/default-photo.jpg",
    nationality: "Perú",
    phoneNumber: "123456789",
    email: "emmagonzalez@example.com",
  },
  {
    id: 876542,
    name: "Liam",
    lastname: "Martínez",
    imgUrl: "/default-photo.jpg",
    nationality: "Chile",
    phoneNumber: null,
    email: null,
  },
  {
    id: 135790,
    name: "Sofia",
    lastname: "Rodríguez",
    imgUrl: "/default-photo.jpg",
    nationality: "Colombia",
    phoneNumber: null,
    email: null,
  },
  {
    id: 246801,
    name: "Mateo",
    lastname: "Pérez",
    imgUrl: "/default-photo.jpg",
    nationality: "Ecuador",
    phoneNumber: "987654321",
    email: "mateoperez@example.com",
  },
  {
    id: 987654,
    name: "Isabella",
    lastname: "Williams",
    imgUrl: "/default-photo.jpg",
    nationality: "México",
    phoneNumber: null,
    email: null,
  },
  {
    id: 123789,
    name: "Lucas",
    lastname: "Brown",
    imgUrl: "/default-photo.jpg",
    nationality: "Argentina",
    phoneNumber: "555123456",
    email: "lucasbrown@example.com",
  },
  {
    id: 456321,
    name: "Olivia",
    lastname: "Jones",
    imgUrl: "/default-photo.jpg",
    nationality: "Guatemala",
    phoneNumber: null,
    email: null,
  },
  {
    id: 789012,
    name: "Ethan",
    lastname: "Miller",
    imgUrl: "/default-photo.jpg",
    nationality: "Venezuela",
    phoneNumber: "876543210",
    email: "ethanmiller@example.com",
  },
  {
    id: 654321,
    name: "Mia",
    lastname: "Cubas",
    imgUrl: "/default-photo.jpg",
    nationality: "Cuba",
    phoneNumber: null,
    email: null,
  },
  {
    id: 987653,
    name: "Luis",
    lastname: "Hernández",
    imgUrl: "/default-photo.jpg",
    nationality: "México",
    phoneNumber: "555987654",
    email: "luishernandez@example.com",
  },
  {
    id: 543210,
    name: "Valentina",
    lastname: "Gómez",
    imgUrl: "/default-photo.jpg",
    nationality: "Colombia",
    phoneNumber: null,
    email: null,
  },
  {
    id: 876543,
    name: "Diego",
    lastname: "López",
    imgUrl: "/default-photo.jpg",
    nationality: "Argentina",
    phoneNumber: null,
    email: null,
  },
  {
    id: 321098,
    name: "Camila",
    lastname: "Ramírez",
    imgUrl: "/default-photo.jpg",
    nationality: "Chile",
    phoneNumber: "789012345",
    email: "camilaramirez@example.com",
  },
  {
    id: 234567,
    name: "Sebastián",
    lastname: "Molina",
    imgUrl: "/default-photo.jpg",
    nationality: "Perú",
    phoneNumber: null,
    email: null,
  },
  {
    id: 789012,
    name: "Isabel",
    lastname: "Ortega",
    imgUrl: "/default-photo.jpg",
    nationality: "Ecuador",
    phoneNumber: "654321987",
    email: "isabelortega@example.com",
  },
  {
    id: 456789,
    name: "Daniel",
    lastname: "Sánchez",
    imgUrl: "/default-photo.jpg",
    nationality: "Venezuela",
    phoneNumber: null,
    email: null,
  },
  {
    id: 123456,
    name: "Amanda",
    lastname: "Castro",
    imgUrl: "/default-photo.jpg",
    nationality: "Guatemala",
    phoneNumber: "987654321",
    email: "amandacastro@example.com",
  },
];
---

<LoggedLayout title="Welcomex | Refugiados">
  <main class="px-10 py-8">
    <PageSummary
      title="Refugiados"
      summary="Resumen de las personas que han ingresado al refugio."
    />
    <Card classList="bg-base-100 shadow">
      <div class="flex justify-between items-center pb-5">
        <h2 class="font-semibold text-slate-400 text-lg">Refugiados</h2>
        <SearchBar client:load>
          <Adjustments classList="w-3 h-3" slot="filter-icon" />
          <Close classList="w-2 h-2" slot="clear-icon" />
        </SearchBar>
      </div>
      <MigrantsTable client:load people={people}>
        <EyeOutline classList="w-[14px] h-[14px]" slot="see-icon" />
      </MigrantsTable>
    </Card>
  </main>
</LoggedLayout>
